<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Traveling</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>ViewpointServlet</display-name>
    <servlet-name>ViewpointServlet</servlet-name>
    <servlet-class>com.servlet.ViewpointServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.servlet.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Guide</display-name>
    <servlet-name>Guide</servlet-name>
    <servlet-class>com.servlet.Guide</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>GuideServlet</display-name>
    <servlet-name>GuideServlet</servlet-name>
    <servlet-class>com.servlet.GuideServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ViewpointDetail</display-name>
    <servlet-name>ViewpointDetail</servlet-name>
    <servlet-class>com.servlet.ViewpointDetail</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LeaveListServlet</display-name>
    <servlet-name>LeaveListServlet</servlet-name>
    <servlet-class>com.servlet.LeaveListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LeaveInsertServlet</display-name>
    <servlet-name>LeaveInsertServlet</servlet-name>
    <servlet-class>com.servlet.LeaveInsertServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.servlet.MessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChartDemoServlet</servlet-name>
    <servlet-class>util.ChartDemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>JfServlet</display-name>
    <servlet-name>JfServlet</servlet-name>
    <servlet-class>com.servlet.JfServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TJfServlet</display-name>
    <servlet-name>TJfServlet</servlet-name>
    <servlet-class>com.servlet.TJfServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>TJsppieServlet</display-name>
    <servlet-name>TJsppieServlet</servlet-name>
    <servlet-class>com.servlet.TJsppieServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>NameServlet</display-name>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.servlet.NameServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>com.servlet.Emil</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SubmitServlet</display-name>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>com.servlet.SubmitServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EmailServlet</display-name>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>com.servlet.EmailServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>EmailOk</display-name>
    <servlet-name>EmailOk</servlet-name>
    <servlet-class>com.servlet.EmailOk</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AannouncementServlet</display-name>
    <servlet-name>AannouncementServlet</servlet-name>
    <servlet-class>com.servlet.AannouncementServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>Aannouncement1Servlet</display-name>
    <servlet-name>Aannouncement1Servlet</servlet-name>
    <servlet-class>com.servlet.Aannouncement1Servlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DatabaseServlet</display-name>
    <servlet-name>DatabaseServlet</servlet-name>
    <servlet-class>com.servlet.DatabaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlet/ImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Guide</servlet-name>
    <url-pattern>/servlet/Guide</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GuideServlet</servlet-name>
    <url-pattern>/servlet/GuideServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewpointDetail</servlet-name>
    <url-pattern>/servlet/ViewpointDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewpointServlet</servlet-name>
    <url-pattern>/servlet/ViewpointServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeaveListServlet</servlet-name>
    <url-pattern>/servlet/LeaveListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LeaveInsertServlet</servlet-name>
    <url-pattern>/servlet/LeaveInsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/servlet/MessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChartDemoServlet</servlet-name>
    <url-pattern>/servlet/jfchart1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/servlet/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JfServlet</servlet-name>
    <url-pattern>/servlet/JfServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TJfServlet</servlet-name>
    <url-pattern>/servlet/TJfServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TJsppieServlet</servlet-name>
    <url-pattern>/servlet/TJsppieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/servlet/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/servlet/NameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/servlet/Email</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/servlet/SubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/servlet/EmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmailOk</servlet-name>
    <url-pattern>/servlet/EmailOk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AannouncementServlet</servlet-name>
    <url-pattern>/servlet/AannouncementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Aannouncement1Servlet</servlet-name>
    <url-pattern>/servlet/Aannouncement1Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DatabaseServlet</servlet-name>
    <url-pattern>/servlet/DatabaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>