body {
	text-decoration: none;
}

body a:link {
	text-decoration: none;
}

body a:HOVER {
	text-decoration: none;
}

body a:VISITED {
	text-decoration: none;
}

#top img {
	width: 280px;
	height: 260px;
}

.td1 {
	padding-left: 50px;
	padding-right: 50px;
	font-family: monospace;
}

.td2 {
	background-repeat: repeat-y;
	background-image: url("../image/background.jpg");
	height: 100px;
}

#td2 image {
	height: 20px;
	width: 20px;
}