#link {
	font-size: 13px;
}

body a:link {
	text-decoration: none;
}

body a:HOVER {
	text-decoration: none;
}

body a:VISITED {
	text-decoration: none;
}

#center {
	background-color: white;
	padding-left: 50px;
}

#liuyan {
	background-color: white;
	padding-left: 50px;
}